@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
}

.page-padding{
    padding: 0 2.5rem;
}
.contener{
margin: 0 auto;
max-width: 124rem;
}

/* bg img not work in tailwindcss host problam */
.bg-heroBg{
    background-image: url('./Images/young-fitness-man-studio.jpg');
    width: 100%;
    height: 110vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}