@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
}

.page-padding{
    padding: 0 2.5rem;
}
.contener{
margin: 0 auto;
max-width: 124rem;
}

/* bg img not work in tailwindcss host problam */
.bg-heroBg{
    background-image: url('./Images/young-fitness-man-studio.jpg');
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}

.bg-aboutcardbg{
    background-image: url('./Images/home-2/background.jpg');
}
.bg-aboutcardbgcange{
    background-image: url('./Images/home-2/info-card-bg.jpg');
}
.bg-textbg{
    background-image: url('./Images/who-we-are/title-bg.svg');
}

.bg-ci1{
    background-image: url('./Images/classes/cycling.jpg');
}
.bg-ci2{
    background-image: url('./Images/classes/bodybuilding.jpg');
}
.bg-ci3{
    background-image: url('./Images/classes/box.jpg');
}
.bg-ci4{
    background-image: url('./Images/classes/cross.jpg');
}
.bg-ci5{
    background-image: url('./Images/classes/karate.jpg');
}
.bg-ci6{
    background-image: url('./Images/classes/powerlifting.jpg');
}
.addbg2{
    background-image: url('./Images/backgorund_image.jpg');
}

.bg-BMIbg{
    background-image: url('./Images/BMI/bmi.jpg');
}
.bg-addpage{
    background-image: url('./Images/pagesStart/background.jpg');
}